[Desktop Entry]
Name=MX-flux
Comment=Set up fluxbox on MX-Linux
Exec=install-mx-fluxbox
Icon=mxflux
NoDisplay=false
Terminal=false
Categories=System;
Type=Application
