[Desktop Entry]
Name=MX Fluxbox
Name[am]=MX Fluxbox
Name[ar]=MX Fluxbox
Name[bg]=MX Fluxbox
Name[bn]=MX Fluxbox
Name[ca]=MX Fluxbox
Name[cs]=MX Fluxbox
Name[da]=MX Fluxbox
Name[de]=MX Fluxbox
Name[el]=MX Fluxbox
Name[es]=MX Fluxbox
Name[et]=MX Fluxbox
Name[eu]=MX Fluxbox
Name[fa]=MX Fluxbox
Name[fil_PH]=MX Fluxbox
Name[fi]=MX Fluxbox
Name[fr]=MX Fluxbox
Name[he_IL]=MX Fluxbox
Name[hi]=MX Fluxbox
Name[hr]=MX Fluxbox
Name[hu]=MX Fluxbox
Name[id]=MX Fluxbox
Name[is]=MX Fluxbox
Name[it]=MX Fluxbox
Name[ja]=MX Fluxbox
Name[kk]=MX Fluxbox
Name[ko]=MX Fluxbox
Name[lt]=MX Fluxbox
Name[mk]=MX Fluxbox
Name[mr]=MX Fluxbox
Name[nb]=MX Fluxbox
Name[nl]=MX Fluxbox
Name[pl]=MX Fluxbox
Name[pt_BR]=MX Fluxbox
Name[pt]=MX Fluxbox
Name[ro]=MX Fluxbox
Name[ru]=MX Fluxbox
Name[sk]=MX Fluxbox
Name[sl]=MX Fluxbox
Name[sq]=MX Fluxbox
Name[sr]=MX Fluxbox
Name[sv]=MX Fluxbox
Name[tr]=MX Fluxbox
Name[uk]=MX Fluxbox
Name[vi]=MX Fluxbox
Name[zh_CN]=MX Fluxbox
Name[zh_TW]=MX Fluxbox
Comment=MX Fluxbox Setup
Comment[am]=MX Fluxbox Setup
Comment[ar]=MX Fluxbox Setup
Comment[bg]=MX Fluxbox Setup
Comment[bn]=MX Fluxbox Setup
Comment[ca]=Paràmetres de MX Fluxbox
Comment[cs]=MX Fluxbox Setup
Comment[da]=MX Fluxbox Setup
Comment[de]=MX Fluxbox EInstellung
Comment[el]=Ρυθμίσεις του fluxbox
Comment[es]=MX Fluxbox Instalador
Comment[et]=MX Fluxbox Setup
Comment[eu]=MX Fluxbox Setup
Comment[fa]=MX Fluxbox Setup
Comment[fil_PH]=MX Fluxbox Setup
Comment[fi]=MX Fluxbox Setup
Comment[fr]=Configuration de MX Fluxbox
Comment[he_IL]=MX Fluxbox Setup
Comment[hi]=MX Fluxbox Setup
Comment[hr]=MX Fluxbox Setup
Comment[hu]=MX Fluxbox Setup
Comment[id]=MX Fluxbox Setup
Comment[is]=MX Fluxbox Setup
Comment[it]=MX Impostare Fluxbox
Comment[ja]=MX Fluxbox Setup
Comment[kk]=MX Fluxbox Setup
Comment[ko]=MX Fluxbox Setup
Comment[lt]=MX Fluxbox Setup
Comment[mk]=MX Fluxbox Setup
Comment[mr]=MX Fluxbox Setup
Comment[nb]=MX Fluxbox Setup
Comment[nl]=MX Fluxbox Instellen
Comment[pl]=Konfiguracja MX Fluxbox
Comment[pt_BR]=Configuração do MX Fluxbox
Comment[pt]=Configuração do MX Fluxbox
Comment[ro]=MX Fluxbox Setup
Comment[ru]=MX настройка Fluxbox
Comment[sk]=MX Fluxbox Setup
Comment[sl]=MX Fluxbox namestitev
Comment[sq]=MX Fluxbox Setup
Comment[sr]=MX Fluxbox Setup
Comment[sv]=MX Fluxbox Inställningar
Comment[tr]=MX Fluxbox Setup
Comment[uk]=MX Fluxbox Setup
Comment[vi]=MX Fluxbox Setup
Comment[zh_CN]=MX Fluxbox Setup
Comment[zh_TW]=MX Fluxbox Setup
Exec=mxflux_install.sh
Icon=mxflux
NoDisplay=false
Terminal=false
Categories=System;
Type=Application
