[Desktop Entry]
Name=MX-flux
Comment=Set up fluxbox on MX-Linux
Exec=mxflux_install.sh
Icon=mxflux
NoDisplay=false
Terminal=true
Categories=System;
Type=Application
