[Desktop Entry]
Name=MX-Fluxbox
Name[ca]=MX-Fluxbox
Name[cs]=MX-Fluxbox
Name[de]=MX-Fluxbox
Name[el]=MX-Fluxbox
Name[es]=MX-Fluxbox
Name[fr]=MX-Fluxbox
Name[it]=MX-Fluxbox
Name[ja]=MX-Fluxbox
Name[lt]=MX-Fluxbox
Name[nl]=MX-Fluxbox
Name[pt]=MX-Fluxbox
Name[ru]=MX-Fluxbox
Name[sv]=MX-Fluxbox
Comment=Set up fluxbox on MX-Linux
Comment[ca]=Set up fluxbox on MX-Linux
Comment[cs]=Set up fluxbox on MX-Linux
Comment[de]=Set up fluxbox on MX-Linux
Comment[el]=Set up fluxbox on MX-Linux
Comment[es]=Set up fluxbox on MX-Linux
Comment[fr]=Set up fluxbox on MX-Linux
Comment[it]=Set up fluxbox on MX-Linux
Comment[ja]=Set up fluxbox on MX-Linux
Comment[lt]=Set up fluxbox on MX-Linux
Comment[nl]=Set up fluxbox on MX-Linux
Comment[pt]=Set up fluxbox on MX-Linux
Comment[ru]=Set up fluxbox on MX-Linux
Comment[sv]=Set up fluxbox on MX-Linux
Exec=sh /usr/local/bin/mxflux_install.sh
Icon=mxflux
NoDisplay=false
Terminal=false
Type=Application
Categories=System;MX-Setup;
