[Desktop Entry]
Name=MX-flux
Name[ca]=MX-flux
Name[cs]=MX-flux
Name[de]=MX-flux
Name[el]=MX-flux
Name[es]=MX-flux
Name[fr]=MX-flux
Name[it]=MX-flux
Name[ja]=MX-flux
Name[lt]=MX-flux
Name[nl]=MX-flux
Name[pt]=MX-flux
Name[ru]=MX-flux
Name[sv]=MX-flux
Comment=Set up fluxbox on MX-Linux
Comment[ca]=Set up fluxbox on MX-Linux
Comment[cs]=Set up fluxbox on MX-Linux
Comment[de]=Set up fluxbox on MX-Linux
Comment[el]=Set up fluxbox on MX-Linux
Comment[es]=Set up fluxbox on MX-Linux
Comment[fr]=Set up fluxbox on MX-Linux
Comment[it]=Set up fluxbox on MX-Linux
Comment[ja]=Set up fluxbox on MX-Linux
Comment[lt]=Set up fluxbox on MX-Linux
Comment[nl]=Set up fluxbox on MX-Linux
Comment[pt]=Set up fluxbox on MX-Linux
Comment[ru]=Set up fluxbox on MX-Linux
Comment[sv]=Set up fluxbox on MX-Linux
Exec=sh /usr/local/bin/mxflux_install.sh
Icon=mxflux
NoDisplay=false
Terminal=false
Type=Application
Categories=System;MX-Setup;
